---
- name: Deploy full-mesh topology on Nokia SR-Linux
  hosts: all
  gather_facts: false

  vars:
    # 1) VRFs to create on every node
    vrfs:
      - name: blue
        type: ip-vrf
        description: L3 VRF blue
    # 2) Per-node L3 subinterfaces (using .0 + type: subinterface)
    mesh_interfaces:
      clab-topo-srlHamburg:
        - name: ethernet-1/1.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlFrankfurt
          ipv4_address: 30.1.1.1/8
          network_instance: blue
        - name: ethernet-1/2.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlCologne
          ipv4_address: 10.1.1.2/8
          network_instance: blue

      clab-topo-srlFrankfurt:
        - name: ethernet-1/1.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlHamburg
          ipv4_address: 30.1.1.2/8
          network_instance: blue
        - name: ethernet-1/2.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlCologne
          ipv4_address: 20.1.1.1/8
          network_instance: blue

      clab-topo-srlCologne:
        - name: ethernet-1/1.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlHamburg
          ipv4_address: 10.1.1.1/8
          network_instance: blue
        - name: ethernet-1/2.0
          type: subinterface
          admin_state: enable
          description: to clab-topo-srlFrankfurt
          ipv4_address: 20.1.1.2/8
          network_instance: blue


    # 3) Per-node static routes & NHGs (use network prefixes with host-bits=0)
    mesh_routes:
      clab-topo-srlHamburg:
        next_hop_groups:
          - name: nhg_nFrankfurt
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 30.1.1.2
          - name: nhg_nCologne
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 10.1.1.1
        routes:
          - prefix: 30.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nFrankfurt
          - prefix: 10.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nCologne

      clab-topo-srlFrankfurt:
        next_hop_groups:
          - name: nhg_nHamburg
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 30.1.1.1
          - name: nhg_nCologne
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 20.1.1.2
        routes:
          - prefix: 30.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nHamburg
          - prefix: 20.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nCologne

      clab-topo-srlCologne:
        next_hop_groups:
          - name: nhg_nHamburg
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 10.1.1.1
          - name: nhg_nCologne
            admin_state: enable
            nexthops:
              - index: 1
                ip_address: 20.1.1.2
        routes:
          - prefix: 10.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nHamburg
          - prefix: 20.0.0.0/8
            admin_state: enable
            next_hop_group: nhg_nCologne

     

  tasks:

    - name: Create/Update VRFs
      nokia.srlinux.network_instance:
        config: "{{ vrfs }}"
        state: merged

    - name: Configure full-mesh L3 subinterfaces
      nokia.srlinux.l3_interface:
        config: "{{ mesh_interfaces[inventory_hostname] }}"
        state: merged

    - name: Configure static routes & next-hop-groups
      nokia.srlinux.static_routes:
        config:
          network_instance: blue
          next_hop_groups: "{{ mesh_routes[inventory_hostname].next_hop_groups }}"
          routes:             "{{ mesh_routes[inventory_hostname].routes }}"
        state: merged